/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors'
@import './variables/components'
@import './themes/default'
*/
@import './vendor/_normalize.css';
@import './flexbox';

$main-background-color: #f1f1f1;

body {
  background-color: $main-background-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: #f1f1f1 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.danger {
  color: #a94442;
}
