* {
  font-family: monospace;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: #000;
  color: #00ff00;
}

input {
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #00ff00;
  background-color: #000;
  color: #00ff00;
}